./node_modules
./dist
./build
./coverage
./logs
./temp
.idea
.idea.iml
.idea.properties
.idea.xml
.idea.vmoptions
.idea.vmoptions.xml
.idea.vmoptions.xml.vmoptions
.vscode
.vscode.iml
.vscode.properties
.vscode.xml
.vscode.vmoptions
.vscode.vmoptions.xml